header{
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5em;
}

body {
  background-color: rgb(222, 224, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-y: auto;
}

.calculator {
  width: 230px;
  margin-left: 30%;
  border: 2px solid black;
  background-color: wheat;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  row-gap: 10px;
  column-gap: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.calculatorbutton {
  border: 2px solid black;
  text-align: center;
  font-size: 2em;
  background-color: antiquewhite;
}

.calculatorbutton:hover {
  cursor: pointer;
}

.calculatorheader {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.calculatordisplay {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.memorygamedisplay{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
}

.memorygamebutton {
  border: 2px solid black;
}
.memorygameheader{
  margin-left: 25%;
}

.memorygameheader:hover{
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.login-child{
  margin-left: 35%;
}